vendor

nodejs/welcome-email/node_modules
nodejs/welcome-email/package-lock.json
nodejs/code.tar.gz
nodejs/convert-cloud-convert-file/node_modules
nodejs/convert-cloud-convert-file/package-lock.json
deno/code.tar.gz
dart/**/.dart_tool
dart/**/.packages
dart/**/pubspec.lock
dart/**/.appwrite
python/**/__pycache__
python/**/.appwrite
*.DS_Store