vendor

nodejs/**/node_modules
nodejs/**/package-lock.json
dart/**/.dart_tool
dart/**/.packages
dart/**/pubspec.lock
python/**/__pycache__
**/.appwrite
**/code.tar.gz
*.DS_Store
nodejs/**/node_modules
nodejs/**/.env