language: php

php:
  - '7.4'

addons:
  hosts:
    - appwrite.test

notifications:
  email:
  - team@appwrite.io

services:
- docker

install:
- composer install --prefer-dist
- >
    echo "80\n443\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n" | docker run --rm \
        --volume /var/run/docker.sock:/var/run/docker.sock \
        --volume "$(pwd)"/appwrite:/usr/src/code/appwrite:rw \
        --entrypoint="install" \
        appwrite/appwrite:dev --version=dev
- sleep 10

script:
- docker ps
